@font-face {
    font-family: "my-font";
    src: url(fonts/Ubuntu-Regular.ttf);
  }
  
  * {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: "my-font";
  }
  
  body{
    background-color: #F5F5F5 !important; 
  }


  .logo{
    border-radius: 50%;
  }


  .no-fade-modal.show {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(0) !important;
}

  
  .card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 20px;
  }
  
  .login-container {
    height: 100vh;
  }
  
  
  .my-btn {
    width: 100% !important;
  }

  .my-btn :active{
    opacity: 0.5;
  }
  
  
  .my-heading{
    color: #fff !important;
    margin-left: 8px;
    margin-top: 8px;
  }
  
  .my-header {
    background-color: #441c78;
    height: 70px;
  }
  
 .button{
    background-color: #441c78 !important;
    color: #FFD700 !important;
 }

 .button :hover{
  color: #fcc107 !important;
 }

 .button :active{
   opacity: 0.5;
 }
  
  .span{
    color: #fcc107 !important;
  }


  #time{
    color: #441c78 !important;
  }

  
  h6{
    margin-top: 15px !important;
    text-align: center !important;
  }
  
  h6 a{
    color: #441c78;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  .margin{
    margin: 0% !important;
    padding: 0% !important;
    line-height: 0!important ; 
  }
  
  
  
  .name{
    margin-top: 5px !important;
    margin-left: 6px !important;
    display: flex !important;
    align-items: center !important;
  }
  
  
  .margin2{
    margin-left: 20px;
    margin-bottom: 0% !important;
    margin-top: 0px !important;
    padding: 0% !important;
    line-height: 0.7 !important;
  }
  
  .details{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  
  .copyright {
    width: 100% !important;
    color: #fff;
    background-color: #441c78 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    text-align: center;
    padding: 10px;
  }
  

  .right{
    display: flex !important;
    justify-content: right !important;
  }


  .right a{
    margin: 0px 3px !important;
    width: 75px;
  }


  .height{
    height: 30px !important;
  }
  
  
  .max-width{
    max-width: 600px !important;
  }
  
  .font{
    font-size: 20px !important;
  }
  
  
  .profile-pic{
    width: 130px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  
  .profile-pic img{  
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  
  .camera-icon{
    color: #441c78;
    background-color: #e9ecef !important;
    width: 26px  ;
    height: 26px;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    bottom: 28px;
    right: -6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }


  .instruction{
    font-size: 13px;
    color: #65676b;
  }
  
  .user-info{
    list-style-type: none;
    margin: 0% !important;
    height: 75px !important;
    border-radius: 5px !important;
    color: #441c78 !important;
    border: none !important;
    display: flex;
    justify-content: left;
  }
  
  
  .users-photo{
    background-color: #fff !important;
    border: 1.5px solid #FFD700 !important;
    border-radius: 50% !important;
    margin: 10px !important;
  }
  
   .chat-users{
    border-radius: 50% !important;
   }
  
  .nav-container{
    background-color: #441c78 !important;
  }
  



  .greet{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    background-color:	#E8E8E8;
    background-position: center;
    background-size: cover;
  }
  
  
  .time{
    font-size: 13px;
    color: #441c78;
    font-weight: bolder !important;
  }
  
  .dashboard{
    height: 100%;
    margin: 0% auto !important;
  }
  
  .down{
    color: #fff !important;
    background-color: #fff;
  }
  
  .auth{
    color: #441c78;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }


  .color{
    color: #441c78 !important;
  }

  .my-card{
    margin: 0% auto !important;
  }


  .headings{
    display: flex;
    justify-content: space-around;
  }


 .card-pic{
  background-position: center;
  background-size: cover;
  background-color: #fff;
  border: 1.5px solid #fcc107;
  border-radius: 8px;
 }


 .color2{
  color: #fcc303 !important;
 }


 .password-reset{
  display: none;
 }


 .blog-heading{
  margin: 0 auto !important; 
  color: #441c78 !important;
 }


 .users-heading{
  display: flex;
  justify-content: center;
 }


 .view-blogs{
  display: flex;
  justify-content: right;
  cursor: pointer;
  font-size: 15px !important;
  text-decoration: none !important;
 }

 .profile-card{
  border-radius: 8px !important;
  background-color: #441c78 !important;
 }